body{
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
.center{
	margin: 0 auto;
	width: 80%;
}
#home{
	background: #EEE;
}
#logo{
	font-weight: 800;
	font-size: 36px;
	font-style: italic;
}
#logo span{
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 300;
}
#home h1{
	font-size: 60px;
}
fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}
input, button{
	color: #333;
	border: 1px solid #CCC;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	border-radius: 4px;
}
button{
	background-color: rgba(0, 0, 0, 0);
}
input{
	background-color: #FFF;
	background-image: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#api{
	display: none;
}
#api .api_desc{
	font-size: 13px;
}
label.error{
	display: none;
	color: #A94442;
}
